<template>
  <div>
    
    <div class="ui label labels">
      <i class="calendar check icon"></i> Completed Tasks: {{todos.filter(todo => {return todo.done === true}).length}}
    </div>
    <div class="ui label labels">
      <i class="clock icon"></i> Pending Tasks: {{todos.filter(todo => {return todo.done === false}).length}}
    </div>
    <todo v-on:delete-todo="deleteTodo" v-on:complete-todo="completeTodo" v-for="todo in todos" :todo.sync="todo"></todo>
  </div>
</template>

<script type = "text/javascript" >
import sweetalert from 'sweetalert2';
import Todo from './Todo';
export default {
  props: ['todos'],
  components: {
    Todo,
  },
  methods: {
    deleteTodo(todo) {
      sweetalert.fire({
        title: 'Are you sure?',
        text: 'This To-Do will be permanently deleted!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, delete it!',
      }).then((result) => {
        if (result.value) {
          const todoIndex = this.todos.indexOf(todo);
          this.todos.splice(todoIndex, 1);
          sweetalert.fire('Deleted!', 'Your To-Do has been deleted.', 'success');
         }
      });
    },
    completeTodo(todo) {
      const todoIndex = this.todos.indexOf(todo);
      this.todos[todoIndex].done = true;
      sweetalert.fire('Success!', 'To-Do completed!', 'success');
    },
  },
};
</script>

<style scoped>

.labels {
  margin-left: 20%;
  margin-right: 20%;
  width: 30%;
}
</style>