<template>
  <div id="app">
    <h1 class="ui dividing centered header">Todo App</h1>
    <div class='ui three column centered grid'>
      <div class='column'>
        <todo-list v-bind:todos="todos"></todo-list>
        <create-todo v-on:create-todo="createTodo"></create-todo>
      </div>
    </div>
  </div>
</template>

<script>
import sweetalert from 'sweetalert2';
import TodoList from './components/TodoList';
import CreateTodo from './components/CreateTodo';
export default {
  name: 'app',
  components: {
    TodoList,
    CreateTodo,
  },
  data() {
    return {
      todos: [],
    };
  },
  methods: {
    createTodo(newTodo) {
      this.todos.push(newTodo);
      sweetalert.fire('Success!', 'To-Do created!', 'success');
    },
  },
};
</script>